.container-product {
  display: grid;
  grid-template-columns: 72vw 27vw;
  grid-template-areas: "photos info";
  margin-top: 2vh;

  .photos {
    grid-area: photos;
    display: grid;
    grid-template-columns: 32vw 32vw;
    grid-column-gap: 14px;
    grid-row-gap: 7px;
    justify-content: center;

    .img {
      width: 100%;
    }
  }

  .info {
    grid-area: info;
    height: 100%;

    .info-body {
      margin: 0 2vw 0 2vw;
    }
  }
}
