.container-main {
  display: grid;
  grid-template-columns: 45vw;
  grid-template-rows: 4vh auto;
  grid-template-areas:
    "filter"
    "board";
  justify-content: center;
}

.filter {
  grid-area: filter;
  background-color: coral;
  display: grid;
  grid-template-columns: repeat(3,15vw);
  grid-template-rows: 4vh;
  justify-items: center;
  align-items: center;
  border-radius: 4px;

  .img {
    font-size: 2rem;
    cursor: pointer;
  }

  .img:hover {
    color: white;
  }
}

.sm-board {
  grid-area: board;
  display: grid;
  grid-template-columns: repeat(4, 9vw);
  grid-template-rows: 12vh;
  grid-row-gap: 2vh;
  justify-content: space-between;
  margin-top: 1vh;
}

.images {
  width: 100%;
  height: 100%;
}

.hg-board {
  grid-area: board;
  display: grid;
  grid-template-columns: repeat(2, 21vw);
  grid-template-rows: 25vh;
  grid-row-gap: 2vh;
  justify-content: space-between;
  margin-top: 1vh;
}
